@use "../breakpoints.scss" as breakpoints;

.hero {
    width: 100%;
    border-radius: var(--radius-l);
    overflow: hidden;
    line-height: 0;
    isolation: isolate;

    img,
    picture,
    video {
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
        border-radius: var(--radius-l);
    }
}

.socialRow {
    justify-content: center;
    padding-top: var(--static-space-16);
}

.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-4));
    }
}

@media (max-width: breakpoints.$s) {
    .textAlign {
        text-align: center;
    }

    .blockAlign {
        align-self: center;
    }
}
